.widget-category {
  position: relative;
  padding: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
}

.widget-category ul > li {
  padding: 6px 0;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.widget-category ul > li:hover {
  padding-left: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.widget-category ul > li a {
  color: #242424;
}

.widget-category ul > li a:hover {
  color: #088178;
}

.product-image {
  position: relative;
  background-color: #fff;
  padding: 10px 12px;
  overflow: hidden;
  max-height: 320px;
}
